<span class="text-nowrap">
    <span class="fas fa-external-link-alt me-2 text-body-tertiary"></span>
    <a href="{{ this.url }}" target="_blank" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{ this.url }}">{{ this.text }}</a>
</span>
