<div class="nav-item-wrapper">
    <a class="nav-link {{ this.isActive ? 'active' : '' }} label-1"
       href="{{ this.url }}"
       role="button"
       data-bs-toggle=""
       aria-expanded="false"
    >
        <div class="d-flex align-items-center">
            <span class="nav-link-icon"><span data-feather="{{ this.icon }}"></span></span>
            <span class="nav-link-text-wrapper">
                <span class="nav-link-text">{{ this.title }}</span>
            </span>
        </div>
    </a>
</div>
